<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates Django</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>This is rendered from Django templates</h1>

    <!-- Correct way: redirect, not fetch -->
    <button  id="btn" onclick="window.location.href='http://127.0.0.1:8000/api/v1/auth/google-redirext'">
    Open Google

</body>
</html>
